@import "../../assets/style/scss/global/global";
.document {
  width: 100%;
  display: flex;
  background-color: #f4f5f7;
  justify-content: center;
  &__container {
    padding-top: 60px;
    @include tablet() {
      padding-top: 45px;
    }
    @include mobile() {
      padding-top: 40px;
    }
    &-header {
      color: #18191f;
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      font-feature-settings: "salt" on, "liga" off;
      @include mobile() {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
      }
    }
    &-desc {
      margin-top: 5px;
      color: #18191f;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      font-feature-settings: "salt" on, "liga" off;
      @include mobile() {
        margin-top: 14px;
        font-weight: 500;
        font-size: 14px;
        line-height: 32px;
      }
    }
    &-logos {
      margin-top: 48px;
      margin-bottom: 60px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      @include tablet() {
        margin-top: 60px;
        margin-bottom: 85px;
      }
      @include mobile() {
        margin-top: 40px;
        margin-bottom: 40px;
      }
      .show-logos {
        display: flex;
        flex-direction: row;
        // width: 930px;
        // height: 336px;
        gap: 20px;
        @include tablet() {
          gap: 12px;
        }
        @include mobile() {
          flex-direction: column;
          gap: 24px;
        }
        .col {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 24px;
          @include tablet() {
            gap: 12px;
          }
          @include mobile() {
            &:nth-child(4) {
              display: none;
            }
            &:last-child {
              display: none;
            }
          }
          .logo {
            background-color: white;
            height: 96px;
            width: 170px;
            border-radius: 16px;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}
