$mobile-width: 768px;
$tablet-width: 1024px;

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
.header {
  width: 100%;
  height: 754px;
  display: flex;
  justify-content: center;
  @include tablet() {
    height: 647px;
  }
  @include mobile() {
    height: 601px;
  }
  &__container {
    position: relative;
    max-width: 1440px;
    height: 100%;
    flex: 1;
    background: url("../../assets/banner.png") top center no-repeat;
    background-size: cover;
    @include tablet() {
      background-size: 1236px 647px;
      background-position: left(-68px);
    }
    .burger {
      display: none;
      position: absolute;
      top: 37px;
      left: 25px;
      @include mobile() {
        display: block;
      }
      i {
        font-size: 32px;
      }
    }
    &-navbar {
      position: absolute;
      top: 35px;
      right: 120px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      @include tablet {
        right: 60px;
      }
      @include mobile() {
        right: 20px;
      }
      ul {
        display: flex;
        gap: 40px;
        li {
          line-height: 20px;
          font-size: 14px;
          font-weight: 700;
          list-style: none;
          display: inline-block;
        }
        @include mobile() {
          display: none;
        }
      }
      button {
        width: 91px;
        padding: 10px 20px;
        font-size: 14px;
        line-height: 20px;
        background-color: #f84646;
        color: white;
        font-weight: 700;
        border: none;
        border-radius: 5px;
      }
    }
    &-content {
      position: absolute;
      top: 200px;
      left: 120px;
      @include tablet() {
        top: 161px;
        left: 60px;
      }
      @include mobile() {
        display: flex;
        flex-direction: column;
        top: 137px;
        left: 0;
        padding: 0 20px;
      }
      h2 {
        font-size: 64px;
        font-weight: 800;
        line-height: 82px;
        width: 665px;
        @include tablet() {
          width: 645px;
          font-size: 56px;
          line-height: 73.5px;
        }
        @include mobile() {
          width: 100%;
          font-size: 42px;
          line-height: 58px;
          text-align: center;
        }
      }
      p {
        margin-top: 20px;
        width: 650px;
        height: 99px;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.2px;
        @include tablet() {
          font-size: 16px;
          line-height: 28px;
        }
        @include mobile() {
          width: 100%;
          height: 87px;
          margin-top: 30px;
          font-weight: 400;
          font-size: 12px;
          line-height: 23px;
          text-align: center;
          letter-spacing: 0.2px;
        }
      }
      form {
        margin-top: 50px;
        width: 502px;
        height: 71px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 8px;
        @include tablet() {
          margin-top: 20px;
          width: 422px;
        }
        @include mobile() {
          margin-top: 43px;
          width: 100%;
          height: 60px;
        }
        input {
          outline: none;
          border: none;
          font-weight: 400;
          font-size: 16px;
          line-height: 36px;
          letter-spacing: 0.2px;
          fill: solid;
          color: rgba(0, 0, 0, 0.4);
          margin-left: 32px;
          @include tablet() {
            margin-left: 26.9px;
          }
          @include mobile() {
            font-size: 14px;
            margin-left: 20px;
          }
        }
        button {
          border-radius: 8px;
          padding: 12px 38px 11px 37px;
          color: white;
          background-color: #f84646;
          border: none;
          font-size: 16px;
          line-height: 36px;
          font-weight: 700;
          margin-right: 6px;
          @include tablet() {
            padding: 12px 25px;
          }
          @include mobile() {
            padding: 15px 18px;
            font-weight: 700;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.2px;
            margin-right: 5px;
          }
          &:hover {
            transform: scale(1.15);
            cursor: pointer;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
