$mobile-width: 768px;
$tablet-width: 1024px;

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
.supply {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f84646;
  &__container {
    padding: 75px 0;
    flex: 1;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet() {
      padding: 82px 0;
    }
    @include mobile() {
      padding: 50px 0 60px 0;
    }
    &-header {
      width: 100%;
      text-align: center;
      font-weight: 800;
      font-size: 48px;
      line-height: 64px;
      font-feature-settings: "liga" off;
      color: #ffffff;
      @include mobile() {
        font-weight: 800;
        font-size: 36px;
        line-height: 47px;
      }
    }
    &-desc {
      margin-top: 8px;
      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      font-feature-settings: "liga" off;
      color: #ffffff;
      @include mobile() {
        margin-top: 9px;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
      }
    }
    &-content {
      max-width: 1200px;
      padding: 0 63px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 45px;
      margin-top: 60px;
      @include tablet() {
        margin-top: 55px;
        padding: 0 60px;
      }
      @include mobile() {
        flex-direction: column;
        gap: 40px;
        margin-top: 55px;
        padding: 0 96px;
      }
      .content-desc {
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
        line-height: 31px;
        color: white;
        @include tablet() {
          font-size: 14px;
          line-height: 22px;
          &:first-child {
            max-width: 132px;
          }
          &:nth-child(3) {
            max-width: 180px;
          }
          &:nth-child(5) {
            max-width: 164px;
          }
          &:last-child {
            max-width: 144px;
          }
        }
        @include mobile() {
          font-weight: 700;
          font-size: 18px;
          line-height: 25px;
          text-align: center;
          &:first-child {
            max-width: 157px;
          }
          &:nth-child(3) {
            max-width: 183px;
          }
          &:nth-child(5) {
            max-width: 183px;
          }
          &:last-child {
            max-width: 183px;
          }
        }
      }
      .next-icon {
        width: 32px;
        height: 32px;
        @include mobile() {
          width: 36px;
          height: 36px;
          transform: rotate(90deg);
        }
      }
    }
  }
}
