@import "../../style/scss/global/global";
.manage {
  width: 100%;
  display: flex;
  justify-content: center;
  &__container {
    padding: 120px 120px 140px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet() {
      padding: 120px 0 135px 0;
    }
    @include mobile() {
      padding: 60px 0 100px 0;
    }
    &-header {
      font-weight: 800;
      font-size: 36px;
      line-height: 49px;
      text-align: center;
      @include mobile() {
        font-size: 24px;
        line-height: 33px;
      }
    }
    &-desc {
      margin-top: 30px;
      margin-bottom: 5px;
      padding: 0 103px;
      font-weight: 400;
      font-size: 24px;
      line-height: 40px;
      text-align: center;
      letter-spacing: 0.2px;
      @include tablet() {
        padding: 0 86px;
      }
      @include mobile() {
        margin-top: 15px;
        margin-bottom: 0;
        font-size: 12px;
        line-height: 22px;
        padding: 0 20px;
      }
    }
    &-content {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      @include tablet() {
        padding: 0 145px;
        justify-content: space-between;
      }
      @include mobile() {
        margin-top: 40px;
        justify-content: center;
        padding: 0 20px;
        gap: 80px;
      }
      .content-item {
        width: 320px;
        margin-top: 85px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 10px;
        @include tablet() {
          margin-top: 80px;
          &:first-child {
            order: 1;
          }
          &:nth-child(2) {
            order: 2;
          }
          &:nth-child(3) {
            order: 5;
          }
          &:nth-child(4) {
            order: 3;
          }
          &:nth-child(5) {
            order: 4;
          }
          &:last-child {
            order: 6;
          }
        }
        @include mobile() {
          margin-top: 0;
          &:first-child {
            order: 1;
          }
          &:nth-child(2) {
            order: 2;
          }
          &:nth-child(3) {
            order: 6;
          }
          &:nth-child(4) {
            order: 4;
          }
          &:nth-child(5) {
            order: 3;
          }
          &:last-child {
            order: 5;
          }
        }
        .item-img {
          height: 76px;
          width: 76px;
        }
        .item-name {
          font-weight: 800;
          font-size: 24px;
          line-height: 33px;
          text-align: center;
        }
        .item-desc {
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          text-align: center;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}
